{% extends "base.html" %}

{% block title %}{{ request.user|title }} {% endblock %}

{% block content %}
<!------------------------------ cart items details------------------------------>

        <div class="small-container cart-page">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Prices</th>
            </tr>
            {% for object in qs.products.all %}
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="{{ object.product_image.url }}">
                        <div>
                            <p>{{ object.product_name }}</p>
                            <small>Price: ${{ object.price }}</small><br>
                            <a href="{% url 'checkout' object.slug %}">procced to checkout</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" vlaue="1"></td>
                <td>${{ object.price }}</td>
            </tr>
            {% endfor %}
            </table>
            
            <div class="total-price">
                <table>
                    <tr>
                        <td>Subtotal</td>
                        <td id="target">${{ sub_total }}</td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td id="target">${{ tax }}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>${{ request.user.cart.total_price }}</td>
                    </tr>
                </table>
            </div>
            <script>
                const numberTaget = document.querySelectorAll("#target")
                numberTaget.forEach(el => {
                    setInterval(()=>{
                    const num = Math.random() * 100 - 5 + 5
                    el.textContent = `$${num.toFixed(2)}` 
                    },
                    5000
                    )
                })
            </script>
        </div>
{% endblock %}