{% extends "base.html" %}
{% load static %}

{% block content %}
<!------------------------------ Products------------------------------>
<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option>Default sorting</option>
            <option>Short by price</option>
            <option>Short by popularity</option>
            <option>Short by rating</option>
            <option>Short by sale</option>
        </select>
    </div>
    
    
    <!--<h2 class="title" >Featured Products</h2>-->
    <div class="row">
        {% for product in products %}
            <div class="col-4">
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.product_image.url }}"></a>
                <a href="{{ product.get_absolute_url }}"><h4>{{ product.product_name }}</h4></a>
                <div class="rating">
                    
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-half-o" ></i>
                    <i class="fa fa-star-o" ></i>
                </div>
                <p>${{ product.price }}</p>
            </div>
            {% endfor %}  
        </div>
    <!-------------- new row----------------->
    
    <!-- <div class="row">
            <div class="col-4">
                <a href="products-details.html"><img src="images/product-5.jpg"></a>
                <h4>Flat Heel gray hoes</h4>
                <div class="rating">
                    
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-half-o" ></i>
                    <i class="fa fa-star-o" ></i>
                </div>
                <p>$50.00</p>
            </div>  
        </div>
    new row for the latest product
        <div class="row">
            <div class="col-4">
                <a href="products-details.html"><img src="images/product-7.jpg"></a>
                <h4>HRX cotton socks</h4>
                <div class="rating">
                    
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star" ></i>
                    <i class="fa fa-star-half-o" ></i>
                    <i class="fa fa-star-o" ></i>
                </div>
                <p>$10.00</p>
            </div>  
        </div> -->
    
    <div class="page-btn">
        {% if products.has_previous %}
        <a href="{% querystring pages=products.previous_page_number %}">
        <span>&laquo;</span>
        </a>
        {% endif %}
        <small>Page {{ products.number }} of {{ products.paginator.num_pages }}</small>
        {% if products.has_next %}
        <a href="{% querystring pages=products.next_page_number %}">
        <span>&raquo;</span>
        </a>
        {% endif %}
    </div>
    
</div>
{% endblock %}