{% extends "./base.html" %}

{% block title %}Home {% endblock %}

{% block content %}
            <div class="row">
                <div class="col-2">
                    <h1>Give your Workout <br>A New Style!</h1>
                    <p>Success isn't always about greatness. It's about consistency. Consistent<br>hard work gains success. Greatness will come.</p>
                    <a href="/products/" class="btn">Explore Now &#8594;</a>
                </div>
            </div>
        </div>
    </div>
        
        <!------------------------------Testimonial---------------------------------->
        <div class="testimonial">
            <div class="small-container">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-quote-left" ></i>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <div class="rating"> 
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star-o" ></i>
                        </div>
                        <img src="https://scontent.fabv2-1.fna.fbcdn.net/v/t39.30808-1/275843979_123670460237969_8905119859443588069_n.jpg?stp=c0.0.508.508a_dst-jpg_s200x200_tt6&_nc_cat=104&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeE6AzWUza0V--tFAs71ZEDQE1_Y3uf6vBwTX9je5_q8HDQ7CaoYdwb-VnJNQJ2f6__iMi9tt4JeZlOaZ38Lhpgk&_nc_ohc=W6x_GYa2FBkQ7kNvgEh_7rD&_nc_zt=24&_nc_ht=scontent.fabv2-1.fna&_nc_gid=AEcnBON3i_gtYLEXsDaAuqA&oh=00_AYDIycQgemSiRTRwYkIvJ5Lm6XkS-lDENpYQpKxCVW1yxQ&oe=67989CBE">
                        <h3>Idoko E.</h3>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-quote-left" ></i>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        <div class="rating">
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star-o" ></i>
                        </div>
                        <img src="https://scontent.fabv2-1.fna.fbcdn.net/v/t39.30808-1/351408266_216967261154145_8814102952561610444_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=106&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeH0Wc0AsoqYydMKu5lws_TRZr6YMKV_WTtmvpgwpX9ZO4p49SDYcgvMqA9TrvdTf9fpGZIriub_5Gds92D7Dcuc&_nc_ohc=ov7DL8r5KawQ7kNvgFzqaDS&_nc_zt=24&_nc_ht=scontent.fabv2-1.fna&_nc_gid=AM_oTELIyhwnfuWYeecUolw&oh=00_AYA8QnAIkmDtaneIe4qNX361n3RQlxKiTNo3_qpqXJIiQQ&oe=6798A506">
                        <h3>Marv A.</h3>
                    </div>
                    <div class="col-3">
                        <i class="fa fa-quote-left" ></i>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <div class="rating"> 
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star" ></i>
                            <i class="fa fa-star-o" ></i>
                        </div>
                        <img src="https://media.licdn.com/dms/image/v2/C4D03AQG3HA2uS3JNZQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1643189716585?e=2147483647&v=beta&t=2QCHO8zuEY79l9qWDaVw9d9DYie76PA_DI5BGZRnu2c">
                        <h3>Ocheme G.</h3>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}