{% extends "base.html" %}

{% block content %}
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span>Forgot Password</span>
                    </div>
                    <form id="LoginForm" style="transform: translateX(300px);" method="post">
                        {{ form.errors|join:' ' }}
                        {{ messages|join:' ' }}
                        {% csrf_token %}
                        {% if show_form %}
                        {% for field in form %}
                            {{ field }}
                        {% endfor %}
                        <button type="submit" class="btn">Send</button>
                        {% else %}
                        {{ message }}
                        {% endif %}
                        <a href="{% url 'accounts:login' %}">Remember password?</a>
                    </form>
                </div>
            </div>
        </div>
            
    </div>
</div
{% endblock %}